@media screen and (max-width: 863px) {
    .weather-c {
        flex-direction: column;
    }
    .col-sm-12 {
        font-size: 10px;
    }
    #scroll-content {
        animation: my-animation 70s linear infinite;
    }
    #c-but {
        font-size: 4vw;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 1600px) {
    .credits {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #melody-btn {
        top: 5px;
        height: 20px;
        width: 20px;
        right: 5px;
    }

    #melody-btn > img {
        width: 20px;
        height: 20px;
    }

    #melody-btn:hover {
        top: 5px;
        height: 30px;
        width: 30px;
        right: 5px;
    }

    #melody-btn:hover > img {
        width: 30px;
        height: 30px;
        top: 2px;
    }
}